body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

html{
    cursor: url(../common/mousePointer.png), auto;
}

img.bg{
    width: 50;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
}