body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

html{
    cursor: url(../common/mousePointer.png), auto;
}

img.bg{
    width: 50;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    z-index: -1;
}

.controls{
    padding-left: 20px;
    padding-right: 20px;
}

.form-horizontal .control-label {
    font-size: medium;
}

.btn-group>.btn:first-child{
    width: 35% !important;
}

.dropdown-menu{
    background-color: #f5f5f5 !important;
}
.dropdown-submenu {
    position: relative;
    background-color: #f5f5f5 !important;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #f5f5f5;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #33ADFF;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #f5f5f5;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.selected {
    background-color: #00b3ee !important;
}



.enabled-edit {
    color: #00b3ee;
}

.disabled-edit {
    color: #D9D9D9;
}

.enabled-delete {
    color: #d58512;
}

.disabled-delete {
    color: #D9D9D9;
}